header {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    .fa-youtube {
      vertical-align: middle;
      color: $red;
      font-size: 38px;
      margin-right: 5px;
    }
    .header__text {
      font-family: "League Gothic", sans-serif;
      color: #333;
      font-size: 32px;
      vertical-align: middle;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: white;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
