.empty__message {
  display: inline-block;
  margin-bottom: 50px;
  font-size: 18px;
  text-align: center;
}

.auth-switch {
  margin-top: 40px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
