#videoContainer {
  width: 100%;
  position: relative;
}

#videoContainer video {
  width: 100%;
}

.videoControls {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  bottom: 20px;
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr auto;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  // background-color: #0f1117;
}

.videoControls i {
  color: #fff;
}

.videoControls.showing {
  opacity: 1;
}

.videoControls__play {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.videoControls__playBtn {
  margin: 0px 15px;
}

.videoControls__time {
  font-size: 12px;
  color: #fff;
}

.videoControls__volume {
  display: flex;
  align-items: center;
}

.videoControls__volume #mute {
  margin-left: 10px;
}

.videoControls__volume #mute > i {
  font-size: 20px;
}

.videoControls__volume #fullScreen {
  margin-left: 10px;
}

.videoControls__volume #fullScreen i {
  font-size: 20px;
}
